<h2>Persons</h2>
<ul class="persons">
  <li *ngFor="let person of persons">
    <button [class.selected]="person === selectedPerson" type="button" (click)="onSelect(person)">
      <span class="badge">{{person.id}}</span>
      <span class="name">{{person.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedPerson">
  <h2>{{selectedPerson.name | uppercase}} Details</h2>
  <div>ID: {{selectedPerson.id}}</div>
  <div>
    <label for="person-name">Name: </label>
    <input id="person-name" [(ngModel)]="selectedPerson.name" placeholder="name">
  </div>
</div>
